@import '../../../styles/index.scss';

.hero-banner {
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-image: url('../../../assets/images/herobanner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 1550px) {
        height: calc(100vh - var(--header-sm-height));
    }

    @media (max-width: 1024px) {
        height: calc(100vh - var(--header-lg-height));
        background-image: none;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../../../assets/images/herobannerMB.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            filter: grayscale(100%)
        }
    }

    @media (max-width: 420px) {
        height: calc(100vh - var(--header-lsf-height));
    }

    @media (max-width: 380px) {
        height: calc(100vh - var(--header-lsm-height));
    }

    .container {
        width: 100%;
        height: 100%;

        section {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;

            @media (max-width: 1024px) {
                align-items: center;
                justify-content: center;
            }

            .content {

                @media (max-width: 1550px) {
                    padding: 30px 20px;
                    background-color: rgba(0, 0, 0, 0);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                }


                @media (max-width: 768px) {
                    max-width: 100%;
                    padding: 20px;
                }

                @media (max-width: 500px) {
                    max-width: 400px;
                }

                h1 {
                    font-size: 60px;
                    font-weight: 900;
                    letter-spacing: 0.5px;
                    color: var(--theme-primary-dark-text);

                    @media (max-width: 1800px) {
                        font-size: 55px;
                    }

                    @media (max-width: 1550px) {
                        font-size: 50px;
                    }

                    @media (max-width: 1024px) {
                        font-size: 40px; // Adjust for smaller screens
                    }

                    @media (max-width: 420px) {
                        background-color: var(--theme-primary-dark-background);
                        color: var(--theme-white-text);
                        padding: 5px 10px;
                    }

                    span {
                        padding: 5px 10px;
                        color: var(--theme-white-background);
                        background-color: var(--theme-primary-dark-background);

                        @media (max-width: 500px) {
                            font-size: 30px; // Adjust for smaller screens
                        }

                        @media (max-width: 420px) {
                            display: none; // Adjust for smaller screens
                        }
                    }
                }

                p {
                    margin-top: 15px;
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                    color: var(--theme-primary-dark-text);

                    @media (max-width: 1550px) {
                        font-size: 18px;
                    }

                    @media (max-width: 1024px) {
                        font-size: 16px; // Adjust font size for mobile
                    }
                }

                .shop-now-btn {
                    margin-top: 20px;

                    button {
                        padding: 10px 20px;
                        background-color: var(--theme-primary-dark-background);
                        color: var(--theme-white-text);
                        border: none;
                        font-size: 20px;
                        font-weight: 400;
                        letter-spacing: 0.5px;

                        @media (max-width: 1024px) {
                            font-size: 18px; // Adjust button size for mobile
                        }
                    }
                }
            }
        }
    }
}