@import '../../../../styles/index.scss';

.herobannerHAE {
    padding: 100px 0;
    background-color: var(--theme-primary-dark-background);

    @media (max-width: 768px) {
        padding: 80px 0;
    }

    @media (max-width: 576px) {
        padding: 60px 0;
    }


    section {
        .text {

            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                font-weight: 900;
                line-height: 1.2;
                letter-spacing: 1px;
                color: var(--theme-white-text);
                text-align: center;

                @media (max-width: 768px) {
                    font-size: 40px;
                }

                @media (max-width: 620px) {
                    font-size: 35px;
                }

                @media (max-width: 550px) {
                    font-size: 32px;
                }

                @media (max-width: 480px) {
                    font-size: 30px;
                }

                @media (max-width: 450px) {
                    font-size: 28px;
                }

                @media (max-width: 380px) {
                    font-size: 18px;
                }

                .icon {
                    margin: 0 10px;

                    @media (max-width: 430px) {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}